In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/hotel_bookings.csv")
print(df.head())
print(df.info())

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0        342               2015               July
1  Resort Hotel            0        737               2015               July
2  Resort Hotel            0          7               2015               July
3  Resort Hotel            0         13               2015               July
4  Resort Hotel            0         14               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                        27                          1
1                        27                          1
2                        27                          1
3                        27                          1
4                        27                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  deposit_type  \
0                        0                     0       2  ...    No Deposit
1                        0                     0       2  ...    No Deposit
2                        0                     1       1  ...    No Deposit
3                        0                     1       1  ...    No Deposit
4                        0                     2       2  ...    No Deposit

   agent company days_in_waiting_list customer_type   adr  \
0    NaN     NaN                    0     Transient   0.0
1    NaN     NaN                    0     Transient   0.0
2    NaN     NaN                    0     Transient  75.0
3  304.0     NaN                    0     Transient  75.0
4  240.0     NaN                    0     Transient  98.0

   required_car_parking_spaces  total_of_special_requests  reservation_status  \
0                            0                          0           Check-Out
1                            0                          0           Check-Out
2                            0                          0           Check-Out
3                            0                          0           Check-Out
4                            0                          1           Check-Out

  reservation_status_date
0              07-01-2015
1              07-01-2015
2              07-02-2015
3              07-02-2015
4              07-03-2015

[5 rows x 32 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB
None

In [ ]:
# Check missing values
print(df.isnull().sum())

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [ ]:
# Fill numerical missing values with mean
df.fillna(df.mean(numeric_only=True), inplace=True)
df.fillna(df.mode().iloc[0], inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
# Outlier Removal (IQR Method)
numeric_cols = df.select_dtypes(include=['number']).columns
Q1 = df[numeric_cols].quantile(0.25)
Q3 = df[numeric_cols].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outlier_condition = ((df[numeric_cols] < lower_bound) | (df[numeric_cols] > upper_bound)).any(axis=1)
df = df[~outlier_condition]
df

,longitude,latitude_x,housing_median_age_x,total_rooms_x,total_bedrooms_x,population_x,households_x,median_income_x,median_house_value_x,latitude_y,housing_median_age_y,total_rooms_y,total_bedrooms_y,population_y,households_y,median_income_y,median_house_value_y
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,39.34,44.0,1064.0,230.0,494.0,175.0,2.8750,61500.0
1,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,38.56,20.0,1005.0,168.0,457.0,157.0,5.6790,225000.0
2,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,38.26,32.0,1070.0,199.0,631.0,195.0,2.6827,98900.0
3,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,38.25,39.0,199.0,36.0,101.0,38.0,6.2299,105400.0
4,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,38.25,37.0,1336.0,251.0,680.0,231.0,3.8150,99000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152536,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,32.69,37.0,1082.0,294.0,1146.0,265.0,2.0673,88500.0
152537,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,32.58,34.0,2003.0,466.0,1226.0,443.0,3.0613,136700.0
152538,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,32.58,26.0,1360.0,309.0,869.0,328.0,3.0217,131600.0
152539,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,32.57,21.0,1738.0,295.0,983.0,298.0,4.8274,174100.0
152540,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,32.56,20.0,2524.0,682.0,1819.0,560.0,2.9286,257700.0

In [ ]:
df1 = pd.read_csv("/content/sample_data/california_housing_test.csv")
df2 = pd.read_csv("/content/sample_data/california_housing_train.csv")

df = pd.merge(df1, df2, on="longitude")
df

,longitude,latitude_x,housing_median_age_x,total_rooms_x,total_bedrooms_x,population_x,households_x,median_income_x,median_house_value_x,latitude_y,housing_median_age_y,total_rooms_y,total_bedrooms_y,population_y,households_y,median_income_y,median_house_value_y
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,39.34,44.0,1064.0,230.0,494.0,175.0,2.8750,61500.0
1,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,38.56,20.0,1005.0,168.0,457.0,157.0,5.6790,225000.0
2,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,38.26,32.0,1070.0,199.0,631.0,195.0,2.6827,98900.0
3,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,38.25,39.0,199.0,36.0,101.0,38.0,6.2299,105400.0
4,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,38.25,37.0,1336.0,251.0,680.0,231.0,3.8150,99000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152545,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,36.35,4.0,1684.0,343.0,920.0,324.0,4.2396,90600.0
152546,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,36.34,26.0,1463.0,261.0,699.0,219.0,3.5536,71400.0
152547,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,36.33,14.0,2928.0,600.0,1633.0,559.0,1.8385,67500.0
152548,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,36.18,23.0,207.0,45.0,171.0,50.0,2.4286,100000.0
152549,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,34.40,29.0,3865.0,814.0,1266.0,613.0,6.0069,500001.0

In [ ]:
#Normalization / Standardization
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(df.select_dtypes(include='number'))
df_scaled

array([[0.22257053, 0.51388889, 0.50980392, ..., 0.02861371, 0.16379774,
        0.09587796],
       [0.22257053, 0.51388889, 0.50980392, ..., 0.02565368, 0.35717438,
        0.43298997],
       [0.22257053, 0.51388889, 0.50980392, ..., 0.03190265, 0.15053585,
        0.17299104],
       ...,
       [0.4754441 , 0.19871795, 0.80392157, ..., 0.09176122, 0.09231597,
        0.10824904],
       [0.4754441 , 0.19871795, 0.80392157, ..., 0.00805789, 0.13301196,
        0.17525907],
       [0.4754441 , 0.19871795, 0.80392157, ..., 0.10064134, 0.37978786,
        1.        ]])

In [ ]:
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df.select_dtypes(include='number'))
df_scaled

array([[-1.54678319,  1.17368118, -0.47785884, ..., -1.22823194,
        -0.46896043, -1.53560915],
       [-1.54678319,  1.17368118, -0.47785884, ..., -1.31796165,
         1.50472315,  0.25317396],
       [-1.54678319,  1.17368118, -0.47785884, ..., -1.12853227,
        -0.60431684, -1.12643185],
       ...,
       [ 1.15024128, -0.52269916,  0.61608529, ..., -0.46552945,
        -0.36570102, -0.76867523],
       [ 1.15024128, -0.52269916,  0.61608529, ..., -0.61507896,
         0.90529771, -0.30370103],
       [ 1.15024128, -0.52269916,  0.61608529, ...,  0.69098675,
        -0.43123239,  0.61093058]])

In [ ]:
df = pd.read_csv("/content/hotel_bookings.csv")

Encoding Categorical Data

In [ ]:
df = pd.get_dummies(df, drop_first=True)
df

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,reservation_status_date_9/26/2015,reservation_status_date_9/26/2016,reservation_status_date_9/27/2015,reservation_status_date_9/27/2016,reservation_status_date_9/28/2015,reservation_status_date_9/28/2016,reservation_status_date_9/29/2015,reservation_status_date_9/29/2016,reservation_status_date_9/30/2015,reservation_status_date_9/30/2016
0,0,342,2015,27,1,0,0,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
1,0,737,2015,27,1,0,0,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
2,0,7,2015,27,1,0,1,1,0.0,0,...,False,False,False,False,False,False,False,False,False,False
3,0,13,2015,27,1,0,1,1,0.0,0,...,False,False,False,False,False,False,False,False,False,False
4,0,14,2015,27,1,0,2,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,35,30,2,5,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119386,0,102,2017,35,31,2,5,3,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119387,0,34,2017,35,31,2,5,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119388,0,109,2017,35,31,2,5,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119389,0,205,2017,35,29,2,7,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False

Log Transformation

In [ ]:
import numpy as np

df['lead_time'] = np.log1p(df['lead_time'])
df

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,reservation_status_date_9/26/2015,reservation_status_date_9/26/2016,reservation_status_date_9/27/2015,reservation_status_date_9/27/2016,reservation_status_date_9/28/2015,reservation_status_date_9/28/2016,reservation_status_date_9/29/2015,reservation_status_date_9/29/2016,reservation_status_date_9/30/2015,reservation_status_date_9/30/2016
0,0,1.922456,2015,27,1,0,0,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
1,0,2.028667,2015,27,1,0,0,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
2,0,1.124748,2015,27,1,0,1,1,0.0,0,...,False,False,False,False,False,False,False,False,False,False
3,0,1.291725,2015,27,1,0,1,1,0.0,0,...,False,False,False,False,False,False,False,False,False,False
4,0,1.310506,2015,27,1,0,2,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,1.429846,2017,35,30,2,5,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119386,0,1.728949,2017,35,31,2,5,3,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119387,0,1.516302,2017,35,31,2,5,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119388,0,1.740550,2017,35,31,2,5,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119389,0,1.844965,2017,35,29,2,7,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False

Data Reduction
(A) Feature Selection

In [ ]:
from sklearn.feature_selection import SelectKBest, chi2

# Fill numerical missing values with mean
df.fillna(df.mean(numeric_only=True), inplace=True)
# Fill any remaining missing values with the mode of that column
df.fillna(df.mode().iloc[0], inplace=True)

X = df.drop('is_canceled', axis=1)
y = df['is_canceled']

# Ensure all values in X are non-negative for chi2 test
X[X < 0] = 0

X_new = SelectKBest(chi2, k=5).fit_transform(X, y)
X_new

array([[ 0.        , 86.69338185,  0.        ,  0.        ,  1.        ],
       [ 0.        , 86.69338185,  0.        ,  0.        ,  1.        ],
       [ 0.        , 86.69338185,  0.        ,  0.        ,  1.        ],
       ...,
       [ 0.        ,  9.        ,  0.        ,  0.        ,  1.        ],
       [ 0.        , 89.        ,  0.        ,  0.        ,  1.        ],
       [ 0.        ,  9.        ,  0.        ,  0.        ,  1.        ]])

Dimensionality Reduction using PCA

In [ ]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
X_reduced = pca.fit_transform(df_scaled)
X_reduced
df

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,reservation_status_date_9/26/2015,reservation_status_date_9/26/2016,reservation_status_date_9/27/2015,reservation_status_date_9/27/2016,reservation_status_date_9/28/2015,reservation_status_date_9/28/2016,reservation_status_date_9/29/2015,reservation_status_date_9/29/2016,reservation_status_date_9/30/2015,reservation_status_date_9/30/2016
0,0,1.922456,2015,27,1,0,0,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
1,0,2.028667,2015,27,1,0,0,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
2,0,1.124748,2015,27,1,0,1,1,0.0,0,...,False,False,False,False,False,False,False,False,False,False
3,0,1.291725,2015,27,1,0,1,1,0.0,0,...,False,False,False,False,False,False,False,False,False,False
4,0,1.310506,2015,27,1,0,2,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,1.429846,2017,35,30,2,5,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119386,0,1.728949,2017,35,31,2,5,3,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119387,0,1.516302,2017,35,31,2,5,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119388,0,1.740550,2017,35,31,2,5,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119389,0,1.844965,2017,35,29,2,7,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False

Data Discretization (Binning)

In [ ]:
# To ensure the column is numeric for re-execution, we'll temporarily get the original numeric values
# from a fresh read of the CSV for the 'arrival_date_week_number' column.
# This prevents issues if the cell is run multiple times after the column has been converted to categorical strings.
original_week_numbers = pd.read_csv("/content/hotel_bookings.csv")['arrival_date_week_number']
df['arrival_date_week_number'] = pd.cut(original_week_numbers, bins=[0, 18, 35, 60, 100], labels=["Qtr 1", "Qtr 2", "Qtr 3", "Qtr 4"])
df

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,reservation_status_date_9/26/2015,reservation_status_date_9/26/2016,reservation_status_date_9/27/2015,reservation_status_date_9/27/2016,reservation_status_date_9/28/2015,reservation_status_date_9/28/2016,reservation_status_date_9/29/2015,reservation_status_date_9/29/2016,reservation_status_date_9/30/2015,reservation_status_date_9/30/2016
0,0,1.922456,2015,Qtr 2,1,0,0,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
1,0,2.028667,2015,Qtr 2,1,0,0,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
2,0,1.124748,2015,Qtr 2,1,0,1,1,0.0,0,...,False,False,False,False,False,False,False,False,False,False
3,0,1.291725,2015,Qtr 2,1,0,1,1,0.0,0,...,False,False,False,False,False,False,False,False,False,False
4,0,1.310506,2015,Qtr 2,1,0,2,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,1.429846,2017,Qtr 2,30,2,5,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119386,0,1.728949,2017,Qtr 2,31,2,5,3,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119387,0,1.516302,2017,Qtr 2,31,2,5,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119388,0,1.740550,2017,Qtr 2,31,2,5,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
119389,0,1.844965,2017,Qtr 2,29,2,7,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False

Sampling Large Dataset

In [ ]:
df_sample = df.sample(frac=0.1, random_state=42)
df_sample

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,reservation_status_date_9/26/2015,reservation_status_date_9/26/2016,reservation_status_date_9/27/2015,reservation_status_date_9/27/2016,reservation_status_date_9/28/2015,reservation_status_date_9/28/2016,reservation_status_date_9/29/2015,reservation_status_date_9/29/2016,reservation_status_date_9/30/2015,reservation_status_date_9/30/2016
30946,0,1.843422,2016,Qtr 3,2,2,5,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
40207,1,1.689882,2015,Qtr 2,16,0,3,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
103708,0,1.448822,2016,Qtr 3,27,0,3,3,0.0,0,...,False,False,False,False,False,False,False,False,False,False
85144,0,0.526589,2016,Qtr 1,9,0,1,1,0.0,0,...,False,False,False,False,False,False,False,False,False,False
109991,0,1.660640,2017,Qtr 1,16,2,2,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57430,1,1.877529,2016,Qtr 3,26,1,2,1,0.0,0,...,False,False,False,False,False,False,False,False,False,False
23791,0,0.000000,2016,Qtr 2,25,0,1,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
64769,1,2.004617,2017,Qtr 1,16,0,2,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
38209,0,0.526589,2017,Qtr 2,9,2,1,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False
40997,0,0.526589,2015,Qtr 2,10,1,3,2,0.0,0,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.to_csv("preprocessed_data.csv", index=False)